<a href="https://colab.research.google.com/github/Danilov-Aleksandr/CV_Korpus/blob/master/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_%D0%9F%D1%80%D0%BE%D0%B3%D0%BD%D0%BE%D0%B7_%D0%BF%D0%BE%D1%82%D1%80%D0%B5%D0%B1%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F_%D0%BF%D0%B8%D0%B2%D0%B0_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Прогноз потребления пива в одном из баров Сан-Паулу

Будем решать задачу регрессии с помощью линейного алгоритма. 

Данные в табличном формате - https://drive.google.com/file/d/1LTFUd8kOlTDoPZOciOU2ZfZ3qsaIpy5C/view?usp=sharing


**Описание полей**
 * date - дата замера
 * t_med - средняя температора воздуха
 * t_min - минимальная
 * t_max - максимальная
 * rainfall - количество осадков, мм
 * weekend - флаг выходного дня (0 - будни, 1 - выходной)
 * consumption - продано пива в баре, литров

In [1]:
# Подключим гугл диск и скопируем к себе данные

from google.colab import drive
drive.mount('/content/gdrive')

!cp "/content/gdrive/My Drive/korpus/data.csv" /content && ls # скопировать фаил и показать все файлы в рабочей директории

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive
data.csv  gdrive  sample_data

In [2]:
# Импортируем данные и посмотрим на их структуру
import pandas as pd

data = pd.read_csv('data.csv')
data.info() 
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         365 non-null    object
 1   t_med        365 non-null    float64
 2   t_min        365 non-null    float64
 3   t_max        365 non-null    float64
 4   rainfall     365 non-null    float64
 5   weekend      365 non-null    int64
 6   consumption  365 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 20.1+ KB

         date  t_med  t_min  t_max  rainfall  weekend  consumption
0  2015-01-01  27.30   23.9   32.5       0.0        0       25.461
1  2015-01-02  27.02   24.5   33.5       0.0        0       28.972
2  2015-01-03  24.82   22.4   29.9       0.0        1       30.814
3  2015-01-04  23.98   21.5   28.6       1.2        1       29.799
4  2015-01-05  23.82   21.0   28.3       0.0        0       28.900

In [3]:
# чуть подробнее о данных
data.describe()

            t_med       t_min       t_max    rainfall     weekend  consumption
count  365.000000  365.000000  365.000000  365.000000  365.000000   365.000000
mean    21.226356   17.461370   26.611507    5.196712    0.284932    25.401367
std      3.180108    2.826185    4.317366   12.417844    0.452001     4.399143
min     12.900000   10.600000   14.500000    0.000000    0.000000    14.343000
25%     19.020000   15.300000   23.800000    0.000000    0.000000    22.008000
50%     21.380000   17.900000   26.900000    0.000000    0.000000    24.867000
75%     23.280000   19.600000   29.400000    3.200000    1.000000    28.631000
max     28.860000   24.500000   36.500000   94.800000    1.000000    37.937000

# 1. Регрессия на одном признаке

In [5]:
# подключим необходимые модули
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

# подготовим под-выборки
X_cols = ['t_med']
X = data[X_cols]
y = data['consumption']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# по аналогии с примером из домашки, обучите линейную модель на одном признаке
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
# выведите среднюю абсолютную ошибку

mean_absolute_error(y_pred, y_test)

3.106222473572042

# 2. Регрессия на нескольких признаках

In [7]:
# подготовим под-выборки

In [9]:
# обучите модель на нескольких признаках, найдите оптимальное сочетание данных
X_cols = ['t_med', 'weekend']
X = data[X_cols]
y = data['consumption']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)


# сравниваем модели се так же по средней обсолютной ошибке


mean_absolute_error(y_pred, y_test)

2.3863363993884383

In [12]:
# обучите модель на нескольких признаках, найдите оптимальное сочетание данных
X_cols = ['t_med', 'weekend', 'rainfall']
X = data[X_cols]
y = data['consumption']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)


# сравниваем модели се так же по средней обсолютной ошибке


mean_absolute_error(y_pred, y_test)

2.2540803971929866

In [14]:
# обучите модель на нескольких признаках, найдите оптимальное сочетание данных
X_cols = ['t_med', 'weekend', 'rainfall', 't_max']
X = data[X_cols]
y = data['consumption']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)


# сравниваем модели се так же по средней обсолютной ошибке


mean_absolute_error(y_pred, y_test)

2.035032457502069

In [16]:
from sklearn import tree
# обучите модель на нескольких признаках, найдите оптимальное сочетание данных
X_cols = ['t_med', 'weekend', 'rainfall', 't_max']
X = data[X_cols]
y = data['consumption']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

clf = tree.DecisionTreeRegressor()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)


# сравниваем модели се так же по средней обсолютной ошибке


mean_absolute_error(y_pred, y_test)

2.8404673913043474

In [17]:
from sklearn import linear_model
reg = linear_model.Ridge(alpha=.5)
# обучите модель на нескольких признаках, найдите оптимальное сочетание данных
X_cols = ['t_med', 'weekend', 'rainfall', 't_max']
X = data[X_cols]
y = data['consumption']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

reg.fit(X_train, y_train)
y_pred = reg.predict(X_test)


# сравниваем модели се так же по средней обсолютной ошибке


mean_absolute_error(y_pred, y_test)

2.036911534300824

In [18]:
reg = linear_model.BayesianRidge()
# обучите модель на нескольких признаках, найдите оптимальное сочетание данных
X_cols = ['t_med', 'weekend', 'rainfall', 't_max']
X = data[X_cols]
y = data['consumption']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

reg.fit(X_train, y_train)
y_pred = reg.predict(X_test)


# сравниваем модели се так же по средней обсолютной ошибке


mean_absolute_error(y_pred, y_test)

2.03731900132882

In [21]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(random_state=1, n_estimators=10)
# обучите модель на нескольких признаках, найдите оптимальное сочетание данных
X_cols = ['t_med', 'weekend', 'rainfall', 't_max']
X = data[X_cols]
y = data['consumption']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

reg.fit(X_train, y_train)
y_pred = reg.predict(X_test)


# сравниваем модели се так же по средней обсолютной ошибке


mean_absolute_error(y_pred, y_test)

2.432048913043478

In [11]:
# Посмотрим на значимость коэффициентов
print(X_cols)
print(lr.coef_)

['t_med', 'weekend']
[0.81603803 5.26842184]